// Animations
@keyframes lds-eclipse {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .lds-css {
    position: absolute;
    margin: 0 auto;
    top: 40%;
    z-index: 1000;
  }
  .lds-eclipse {
    position: relative;
    width:100%;
    height:100%;
  }
  .lds-eclipse div {
    position: absolute;
    animation: lds-eclipse 1s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 $pure;
    transform-origin: 80px 82px;
  }
  .lds-eclipse {
    width: 200px !important;
    height: 200px !important;
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  }
  
  @keyframes pulse-left {
    0% {
      width: 0;
    }
    50% {
      width: -50%;
    }
    100% {
      width: 0%;
    }
  }
  
  @keyframes pulse-right {
    0% {
      width: 0;
    }
    50% {
      width: 50%;
    }
    100% {
      width: 0%;
    }
  }