// Media Queries
@media (max-width: 768px) {
    #mobile-home, .device-mobile {
      display: block;
    }
    
    #desktop-home, .device-desktop {
      display: none;
    }

    .page-wrap, #search-wrap {
      width: 100vw;
    }

    .home-wrap {
      display: block;
      padding-top: 0.25em;
      .nav-tabs {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .active{
          background: $dalamud;
          color: $pure;
          border: none;
        }
      }
      #world-list {
        height:67em;
        align-items: center;
        flex-wrap: wrap;
      }
      #world-list, #news-list, #notice-list {
        width: 100%;
        justify-content: center;
      }
    
    }

    #filter-card {
      justify-content: center;
      #filter-title {
        justify-self: center;
        grid-area: filtertop;
        margin: 0 1em;
        font-size: 1.25em;
      }
      #core-indices, #misc-indices {
        margin: 0 0.15em;
        padding: 0.5em 0.15em;
      }
    }

    .filter {
      & label {
        font-size: 0.9em;
        margin-left: 0.25em;
      }
    }

    .item {
      width: 95vw;
      &-top {
        width: 100vw;
      }
      &-header {
        width: 95vw;
      }
      &-detail {
        width: 95vw;
      }
      .character-classes {
        &-label {
          width: 5em;
          font-size: 0.9em;
          color: #ddc681;
        }
        &-dow {
          &-tanks {
            margin: 1em 0;
          }
          &-healers {
            margin: 1em 0;
          }
          &-dps {
            margin: 1em 0;
            &-melee {
              margin: 0 0.5em 0 0;
            }
            &-physrange {
              margin: 0 0.5em;
            }
            &-magrange {
              margin: 0 0.5em;
            }
          }
        }
        &-dol {
          margin: 1em 0;
          &-label {
            width: 5em;
            font-size: 0.9em;
            color: #c6cdd1;
          }
        }
        &-doh {
          margin: 1em 0;
          &-label {
            width: 5em;
            font-size: 0.9em;
            color: #c6cdd1;
          }
        }
      }
      .char-class {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-size: 0.75em;
        &-icon {
          width: 24px;
        }
      }
    }

    .character-grid {
      display: grid;
      grid-template-rows: 10rem auto auto;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: 
      "charportrait chartitle"
      "chartabs chartabs"
      "charcontent charcontent";
    
      .character-portrait {
        height: 10rem;
      }
      .character-title {
        grid-area: chartitle;
        text-align: right;
        .character-name {      
          font-family: Cinzel, sans-serif;
          font-size: 1.25em;
          margin: 0;
        }
        .character-server {
          font-size: 1em;
          button {
            font-size: 0.75em;
          }
        }
      }
      .character-tabs {
        font-size: 0.85em;
        .nav-item {
          margin-bottom: 0; 
        }
      }
    }

    .page-controls {
      #curr-page {
        flex-direction: column;
      }
    }
  
    .item {
      font-size: 0.85em;
      .result-icon {
        width: 36px;
        height: 36px;
      }
      .spinner-grow {
        width: 20px;
        height: 20px;
      }
    }
    .page-controls {
      width: 95%;
      #curr-page.disabled:after {
        left: -3em;
        top: 4.5em;
      }
    }
}

@media (max-width: 360px) {
    #filter-card {
        font-size: 0.8em;
    }
    .character-grid{
      .character-tabs {
        font-size: 0.8em;
      }
    }
}