@import url('https://fonts.googleapis.com/css?family=Cinzel|Lato');
@import 'custom-variables';
@import 'animations';

// Bootstrap Overrides
.card-img-top {
  width: 33% !important;
  margin: 0 auto;
}

// Custom Styles
html, body {
  font-family: 'Lato', sans-serif;
  background: url("../images/stardust.png");
  color: $pure;
}

hr {
  margin: 0.25em;
  background: $slate;
}

.world-icon {
  height: 1.5em;
  margin: 0.25em 0.5em;
}

#___gatsby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  padding-bottom: 1em;
  background: #0007;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page-wrap {
  padding: 1em;
}

#search-wrap {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
  "worlds news notices";
  justify-items: center;
  h3 {
    font-family: "Cinzel", serif;
    text-decoration: underline;
  }

  #world-list {
    grid-area: worlds;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .world-item {
      display: flex;
      align-items: center;
      width: 9em;
    }
  }

  #news-list {
    grid-area: news;
    width: 50vw;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .news-item {
      width: 100%;
      margin: 1em;
      color: $pure;
      background: #0007;
      a {
        color: inherit;
        text-decoration: underline;
      }
      .card-title {
        display: flex;
        justify-content: space-between;
        time {
          color: $slate;
        }
      }
    }
  }

  #notice-list {
    grid-area: notices;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    .notice-item {
      width: 100%;
      margin: 0.5em;
      color: $pure;
      background: #0007;
      a {
        color: inherit;
        text-decoration: underline;
      }
      .card-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        time {
          color: $slate;
        }
      }
    }
  }
}

#patch_notes {
  width: 100%;
  .nav-tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .active{
      background: $dalamud;
      color: $pure;
      border: none;
    }
  }
  
  .nav-link {
    cursor: pointer;
  }
  .tab-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 80vh;
  }
  .tab-pane {
    h1 {
      margin: 0.5em;
    }
    .card {
      border: none;
    }
  }
}

.header {
  font-family: 'Cinzel', serif;
  width: 100vw;
  background: #0007;
  .logo {
    height: 3.25rem;
  }
  #searchbar-form {
    width: auto;
  }
  .nav-link {
    font-size: 1.25em;
    color: $goobbue !important;
    &:hover, &:focus {
      color: #e0e6ed !important;
    }
  }
}

#lang-toggle {
  min-width: 48px;
  border: none;
  background: $dalamud;
}

#filter-card {
  display: grid;
  grid-template-areas: 
  "filtertop filtertop"
  "unique unique"
  "core misc";
  justify-content: end;
  align-content: flex-start;
  width: 100%;
  padding: 0 1em 1em 1em;
  #filter-title {
    justify-self: center;
    grid-area: filtertop;
    padding: 0.5em;
    font-size: 1.25em;
    display: flex;
  }
  #filter-clear, #filter-inv, #filter-help {
    margin: 0 0 0 1em;
  }
  #filter-clear, #filter-inv {
    color: $pure;
  }
  #core-indices {
    grid-area: core;
  }
  #misc-indices {
    grid-area: misc;
  }
  #unique-indices {
    grid-area: unique;
    border-bottom: 1px solid $goobbue;
  }
  #core-indices, #misc-indices, #unique-indices {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5em;
    padding: 0.5em;
    
    #core-cat, #misc-cat {
      text-decoration: underline;
    }
    #core-switches, #misc-switches {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .search-index {
        margin: 0 0.25em; 
      }
    }
  }
}

.custom-control-input:checked~.custom-control-label::before {
  background: $dalamud !important;
  border: $dalamud !important;
}

#item-list {
  width: 90vw;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 75vw;

  &-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
  }

  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3em;
    width: 75vw;
    border-radius: 5px;
    position: relative;
  
    .result-icon {
      width: 48px;
      height: 48px;
      pointer-events: none;
    }
  
    .result {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      pointer-events: none;
      padding-right: 1em;
    }
      
    &:hover {
      background: #fff3;
    }
  }
  
  &-detail, .char-detail {
    margin: 1em 0;
    width: 75vw;
    .item-refresh {
      &:hover {
        svg path {
          fill: #edd285;
        }
      }
    }
    .detail-null {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .char-label {
      color: $pure;
      margin-right: 0.5em;  
    }
    .char-profVal {
      color: $goobbue;
    }
    .character-classes {
      &-label {
        width: 10em;
        font-size: 1.25em;
        color: #ddc681;
      }
      &-dow {
        &-tanks {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          margin: 1em 0;
        }
        &-healers {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          margin: 1em 0;
        }
        &-dps {
          display: flex;
          align-items: center;
          margin: 1em 0;
          &-melee {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 0 2em 0 0;
          }
          &-physrange {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 0 2em;
          }
          &-magrange {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin: 0 2em;
          }
        }
      }
      &-dol {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 1em 0;
        &-label {
          width: 10em;
          font-size: 1.25em;
          color: #c6cdd1;
        }
      }
      &-doh {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 1em 0;
        &-label {
          width: 10em;
          font-size: 1.25em;
          color: #c6cdd1;
        }
      }
    }
    .char-class {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      &-icon {
        width: 48px;
      }
    }
  }

  .loader {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%; 
    position: absolute;
    &-bg-left, &-bg-right {
      background: #fff3;
      width: 0%;
      height: 2px;
    }
    &-pulse-left {
      animation: pulse-left 1s ease-out infinite;
    }
    &-pulse-right {
      animation: pulse-right 1s ease-out infinite;
    }
  }
}

.character-grid {
  display: grid;
  grid-template-rows: 2rem 2.75rem auto;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: 
  "charportrait chartitle"
  "charportrait chartabs"
  "charportrait charcontent";

  .character-portrait {
    grid-area: charportrait;
    height: 35rem;
    border-radius: 4px;
  }
  .character-title {
    grid-area: chartitle;
    text-align: right;
    .character-name {      
      font-family: Cinzel, sans-serif;
      margin: 0;
    }
  }
  .character-tabs {
    grid-area: chartabs;
    .nav-link.active {
      background: $dalamud;
      border-color: $dalamud;
      color: $pure;
    }
    .nav-link {
      color: $pure;
    }
  }
  .character-content {
    grid-area: charcontent;
  }
}

.page-controls {
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  #curr-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    #limit {
      border: none;
      border-radius: 4px;
      margin: 0.25em;
      &:hover {
        cursor: pointer;
      }
    }
  }

  #curr-page.disabled {
    &:after {
      width: 15em;
      display: none;
      position: absolute;
      top: 2em;
      left: 1em;
      content: "Character results are fixed at 50";
      color: $goobbue;
    }
    &:hover {
      &:after {
        display: inline;
      }
    }
  }
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  #sqenix {
    width: 75%;
  }
}

.form-control:focus {
  border-color: $dalamud;
  box-shadow: 0 0 0.1rem 0.1rem rgba(120, 25, 26, 0.6);
}

#mobile-home {
  display: none;
}

@import 'media-queries';