@import url("https://fonts.googleapis.com/css?family=Cinzel|Lato");
@-webkit-keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.lds-css {
  position: absolute;
  margin: 0 auto;
  top: 40%;
  z-index: 1000;
}

.lds-eclipse {
  position: relative;
  width: 100%;
  height: 100%;
}

.lds-eclipse div {
  position: absolute;
  -webkit-animation: lds-eclipse 1s linear infinite;
          animation: lds-eclipse 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 0 0 #f9f8f4;
          box-shadow: 0 4px 0 0 #f9f8f4;
  -webkit-transform-origin: 80px 82px;
          transform-origin: 80px 82px;
}

.lds-eclipse {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
          transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

@-webkit-keyframes pulse-left {
  0% {
    width: 0;
  }
  50% {
    width: -50%;
  }
  100% {
    width: 0%;
  }
}

@keyframes pulse-left {
  0% {
    width: 0;
  }
  50% {
    width: -50%;
  }
  100% {
    width: 0%;
  }
}

@-webkit-keyframes pulse-right {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}

@keyframes pulse-right {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}

.card-img-top {
  width: 33% !important;
  margin: 0 auto;
}

html, body {
  font-family: 'Lato', sans-serif;
  background: url("../images/stardust.png");
  color: #f9f8f4;
}

hr {
  margin: 0.25em;
  background: #656565;
}

.world-icon {
  height: 1.5em;
  margin: 0.25em 0.5em;
}

#___gatsby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  padding-bottom: 1em;
  background: #0007;
}

.layout {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-wrap {
  padding: 1em;
}

#search-wrap {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-wrap {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas: "worlds news notices";
  justify-items: center;
}

.home-wrap h3 {
  font-family: "Cinzel", serif;
  text-decoration: underline;
}

.home-wrap #world-list {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: worlds;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home-wrap #world-list .world-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 9em;
}

.home-wrap #news-list {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: news;
  width: 50vw;
  max-width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-wrap #news-list .news-item {
  width: 100%;
  margin: 1em;
  color: #f9f8f4;
  background: #0007;
}

.home-wrap #news-list .news-item a {
  color: inherit;
  text-decoration: underline;
}

.home-wrap #news-list .news-item .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-wrap #news-list .news-item .card-title time {
  color: #656565;
}

.home-wrap #notice-list {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: notices;
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-wrap #notice-list .notice-item {
  width: 100%;
  margin: 0.5em;
  color: #f9f8f4;
  background: #0007;
}

.home-wrap #notice-list .notice-item a {
  color: inherit;
  text-decoration: underline;
}

.home-wrap #notice-list .notice-item .card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-wrap #notice-list .notice-item .card-title time {
  color: #656565;
}

#patch_notes {
  width: 100%;
}

#patch_notes .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#patch_notes .nav-tabs .active {
  background: #78191a;
  color: #f9f8f4;
  border: none;
}

#patch_notes .nav-link {
  cursor: pointer;
}

#patch_notes .tab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
}

#patch_notes .tab-pane h1 {
  margin: 0.5em;
}

#patch_notes .tab-pane .card {
  border: none;
}

.header {
  font-family: 'Cinzel', serif;
  width: 100vw;
  background: #0007;
}

.header .logo {
  height: 3.25rem;
}

.header #searchbar-form {
  width: auto;
}

.header .nav-link {
  font-size: 1.25em;
  color: #898784 !important;
}

.header .nav-link:hover, .header .nav-link:focus {
  color: #e0e6ed !important;
}

#lang-toggle {
  min-width: 48px;
  border: none;
  background: #78191a;
}

#filter-card {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "filtertop filtertop" "unique unique" "core misc";
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
  padding: 0 1em 1em 1em;
}

#filter-card #filter-title {
  justify-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: filtertop;
  padding: 0.5em;
  font-size: 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#filter-card #filter-clear, #filter-card #filter-inv, #filter-card #filter-help {
  margin: 0 0 0 1em;
}

#filter-card #filter-clear, #filter-card #filter-inv {
  color: #f9f8f4;
}

#filter-card #core-indices {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: core;
}

#filter-card #misc-indices {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: misc;
}

#filter-card #unique-indices {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: unique;
  border-bottom: 1px solid #898784;
}

#filter-card #core-indices, #filter-card #misc-indices, #filter-card #unique-indices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.5em;
  padding: 0.5em;
}

#filter-card #core-indices #core-cat, #filter-card #core-indices #misc-cat, #filter-card #misc-indices #core-cat, #filter-card #misc-indices #misc-cat, #filter-card #unique-indices #core-cat, #filter-card #unique-indices #misc-cat {
  text-decoration: underline;
}

#filter-card #core-indices #core-switches, #filter-card #core-indices #misc-switches, #filter-card #misc-indices #core-switches, #filter-card #misc-indices #misc-switches, #filter-card #unique-indices #core-switches, #filter-card #unique-indices #misc-switches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#filter-card #core-indices #core-switches .search-index, #filter-card #core-indices #misc-switches .search-index, #filter-card #misc-indices #core-switches .search-index, #filter-card #misc-indices #misc-switches .search-index, #filter-card #unique-indices #core-switches .search-index, #filter-card #unique-indices #misc-switches .search-index {
  margin: 0 0.25em;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background: #78191a !important;
  border: #78191a !important;
}

#item-list {
  width: 90vw;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75vw;
}

.item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
}

.item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3em;
  width: 75vw;
  border-radius: 5px;
  position: relative;
}

.item-header .result-icon {
  width: 48px;
  height: 48px;
  pointer-events: none;
}

.item-header .result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  pointer-events: none;
  padding-right: 1em;
}

.item-header:hover {
  background: #fff3;
}

.item-detail, .item .char-detail {
  margin: 1em 0;
  width: 75vw;
}

.item-detail .item-refresh:hover svg path, .item .char-detail .item-refresh:hover svg path {
  fill: #edd285;
}

.item-detail .detail-null, .item .char-detail .detail-null {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-detail .char-label, .item .char-detail .char-label {
  color: #f9f8f4;
  margin-right: 0.5em;
}

.item-detail .char-profVal, .item .char-detail .char-profVal {
  color: #898784;
}

.item-detail .character-classes-label, .item .char-detail .character-classes-label {
  width: 10em;
  font-size: 1.25em;
  color: #ddc681;
}

.item-detail .character-classes-dow-tanks, .item .char-detail .character-classes-dow-tanks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0;
}

.item-detail .character-classes-dow-healers, .item .char-detail .character-classes-dow-healers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0;
}

.item-detail .character-classes-dow-dps, .item .char-detail .character-classes-dow-dps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0;
}

.item-detail .character-classes-dow-dps-melee, .item .char-detail .character-classes-dow-dps-melee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2em 0 0;
}

.item-detail .character-classes-dow-dps-physrange, .item .char-detail .character-classes-dow-dps-physrange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2em;
}

.item-detail .character-classes-dow-dps-magrange, .item .char-detail .character-classes-dow-dps-magrange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2em;
}

.item-detail .character-classes-dol, .item .char-detail .character-classes-dol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0;
}

.item-detail .character-classes-dol-label, .item .char-detail .character-classes-dol-label {
  width: 10em;
  font-size: 1.25em;
  color: #c6cdd1;
}

.item-detail .character-classes-doh, .item .char-detail .character-classes-doh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0;
}

.item-detail .character-classes-doh-label, .item .char-detail .character-classes-doh-label {
  width: 10em;
  font-size: 1.25em;
  color: #c6cdd1;
}

.item-detail .char-class, .item .char-detail .char-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-detail .char-class-icon, .item .char-detail .char-class-icon {
  width: 48px;
}

.item .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.item .loader-bg-left, .item .loader-bg-right {
  background: #fff3;
  width: 0%;
  height: 2px;
}

.item .loader-pulse-left {
  -webkit-animation: pulse-left 1s ease-out infinite;
          animation: pulse-left 1s ease-out infinite;
}

.item .loader-pulse-right {
  -webkit-animation: pulse-right 1s ease-out infinite;
          animation: pulse-right 1s ease-out infinite;
}

.character-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2rem 2.75rem auto;
      grid-template-rows: 2rem 2.75rem auto;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
      grid-template-areas: "charportrait chartitle" "charportrait chartabs" "charportrait charcontent";
}

.character-grid .character-portrait {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: charportrait;
  height: 35rem;
  border-radius: 4px;
}

.character-grid .character-title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: chartitle;
  text-align: right;
}

.character-grid .character-title .character-name {
  font-family: Cinzel, sans-serif;
  margin: 0;
}

.character-grid .character-tabs {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: chartabs;
}

.character-grid .character-tabs .nav-link.active {
  background: #78191a;
  border-color: #78191a;
  color: #f9f8f4;
}

.character-grid .character-tabs .nav-link {
  color: #f9f8f4;
}

.character-grid .character-content {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: charcontent;
}

.page-controls {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-controls #curr-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.page-controls #curr-page #limit {
  border: none;
  border-radius: 4px;
  margin: 0.25em;
}

.page-controls #curr-page #limit:hover {
  cursor: pointer;
}

.page-controls #curr-page.disabled:after {
  width: 15em;
  display: none;
  position: absolute;
  top: 2em;
  left: 1em;
  content: "Character results are fixed at 50";
  color: #898784;
}

.page-controls #curr-page.disabled:hover:after {
  display: inline;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100vw;
}

#footer #sqenix {
  width: 75%;
}

.form-control:focus {
  border-color: #78191a;
  -webkit-box-shadow: 0 0 0.1rem 0.1rem rgba(120, 25, 26, 0.6);
          box-shadow: 0 0 0.1rem 0.1rem rgba(120, 25, 26, 0.6);
}

#mobile-home {
  display: none;
}

@media (max-width: 768px) {
  #mobile-home, .device-mobile {
    display: block;
  }
  #desktop-home, .device-desktop {
    display: none;
  }
  .page-wrap, #search-wrap {
    width: 100vw;
  }
  .home-wrap {
    display: block;
    padding-top: 0.25em;
  }
  .home-wrap .nav-tabs {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-wrap .nav-tabs .active {
    background: #78191a;
    color: #f9f8f4;
    border: none;
  }
  .home-wrap #world-list {
    height: 67em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home-wrap #world-list, .home-wrap #news-list, .home-wrap #notice-list {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #filter-card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #filter-card #filter-title {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: filtertop;
    margin: 0 1em;
    font-size: 1.25em;
  }
  #filter-card #core-indices, #filter-card #misc-indices {
    margin: 0 0.15em;
    padding: 0.5em 0.15em;
  }
  .filter label {
    font-size: 0.9em;
    margin-left: 0.25em;
  }
  .item {
    width: 95vw;
  }
  .item-top {
    width: 100vw;
  }
  .item-header {
    width: 95vw;
  }
  .item-detail {
    width: 95vw;
  }
  .item .character-classes-label {
    width: 5em;
    font-size: 0.9em;
    color: #ddc681;
  }
  .item .character-classes-dow-tanks {
    margin: 1em 0;
  }
  .item .character-classes-dow-healers {
    margin: 1em 0;
  }
  .item .character-classes-dow-dps {
    margin: 1em 0;
  }
  .item .character-classes-dow-dps-melee {
    margin: 0 0.5em 0 0;
  }
  .item .character-classes-dow-dps-physrange {
    margin: 0 0.5em;
  }
  .item .character-classes-dow-dps-magrange {
    margin: 0 0.5em;
  }
  .item .character-classes-dol {
    margin: 1em 0;
  }
  .item .character-classes-dol-label {
    width: 5em;
    font-size: 0.9em;
    color: #c6cdd1;
  }
  .item .character-classes-doh {
    margin: 1em 0;
  }
  .item .character-classes-doh-label {
    width: 5em;
    font-size: 0.9em;
    color: #c6cdd1;
  }
  .item .char-class {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.75em;
  }
  .item .char-class-icon {
    width: 24px;
  }
  .character-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10rem auto auto;
        grid-template-rows: 10rem auto auto;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "charportrait chartitle" "chartabs chartabs" "charcontent charcontent";
  }
  .character-grid .character-portrait {
    height: 10rem;
  }
  .character-grid .character-title {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: chartitle;
    text-align: right;
  }
  .character-grid .character-title .character-name {
    font-family: Cinzel, sans-serif;
    font-size: 1.25em;
    margin: 0;
  }
  .character-grid .character-title .character-server {
    font-size: 1em;
  }
  .character-grid .character-title .character-server button {
    font-size: 0.75em;
  }
  .character-grid .character-tabs {
    font-size: 0.85em;
  }
  .character-grid .character-tabs .nav-item {
    margin-bottom: 0;
  }
  .page-controls #curr-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .item {
    font-size: 0.85em;
  }
  .item .result-icon {
    width: 36px;
    height: 36px;
  }
  .item .spinner-grow {
    width: 20px;
    height: 20px;
  }
  .page-controls {
    width: 95%;
  }
  .page-controls #curr-page.disabled:after {
    left: -3em;
    top: 4.5em;
  }
}

@media (max-width: 360px) {
  #filter-card {
    font-size: 0.8em;
  }
  .character-grid .character-tabs {
    font-size: 0.8em;
  }
}
/*# sourceMappingURL=style.css.map */